/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
    max-width: 1200px;
    padding: 50px;
    margin: auto;
}

.container-sm {
    max-width: 800px;
    padding: 50px;
    margin: auto;
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
}

.default-spacing{
    margin-right: 10px;
}